<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- Mirrored from lmpixels.com/demo/unique/unique-vcard/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jun 2019 12:36:56 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Unique - Responsive vCard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Unique - Responsive vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Unique, portfolio" />
    <meta name="author" content="lmtheme" />
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="~/Public/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/animate.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/transition-animations.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/jquery.mCustomScrollbar.min.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Public/css/main-red.css" type="text/css">

    <!-- This styles needs for demo -->
    <link rel="stylesheet" href="preview/lmpixels-demo-panel.css" type="text/css">
    <!-- /This styles needs for demo -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96534204-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="~/Public/js/jquery-2.1.3.min.js"></script>
    <script src="~/Public/js/modernizr.custom.js"></script>
</head>

<body>
    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- /Loading animation -->

    <div id="page" class="page template-style-dark">
        <!-- Header -->
        <header id="site_header" class="header mobile-menu-hide header-color-dark">
            <div class="my-photo tilt-effect">
                <img src="~/Public/images/photo.png" alt="image">
            </div>

            <div class="site-title-block">
                <h1 class="site-title">Alex Smith</h1>
            </div>

            <!-- Navigation -->
            <div class="site-nav">
                <!-- Main menu -->
                <ul id="nav" class="site-main-menu">
                    <li>
                        <a class="pt-trigger" href="#home" data-animation="21"><i class="menu-icon pe-7s-icon pe-7s-home"></i>Home</a><!-- href value = data-id without # of .pt-page. -->
                    </li>
                    <li>
                        <a class="pt-trigger" href="#about_me" data-animation="17"><i class="menu-icon pe-7s-icon pe-7s-user"></i>About me</a>
                    </li>
                    <li>
                        <a class="pt-trigger" href="#resume" data-animation="18"><i class="menu-icon pe-7s-icon pe-7s-id"></i>Resume</a>
                    </li>
                    <li>
                        <a class="pt-trigger" href="#portfolio" data-animation="19"><i class="menu-icon pe-7s-icon pe-7s-portfolio"></i>Portfolio</a>
                    </li>
                    <li>
                        <a class="pt-trigger" href="#contact" data-animation="20"><i class="menu-icon pe-7s-icon pe-7s-mail"></i>Contact</a>
                    </li>
                </ul>
                <!-- /Main menu -->
            </div>
            <!-- Navigation -->
        </header>
        <!-- /Header -->
        <!-- Mobile Header -->
        <div class="mobile-header mobile-visible">
            <div class="mobile-logo-container">
                <div class="mobile-site-title">Alex Smith</div>
            </div>

            <a class="menu-toggle mobile-visible">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- /Mobile Header -->
        <!-- Main Content -->
        <div id="main" class="site-main">
            <!-- Page changer wrapper -->
            <div class="pt-wrapper" style="background-image: url(Public/images/main_bg_light.jpg);">
                <!-- Subpages -->
                <div class="subpages">
                    @RenderBody()


                </div>
            </div>
            <!-- /Page changer wrapper -->
        </div>
        <!-- /Main Content -->
    </div>


    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/pages-switcher.js"></script>
    <script src="~/Public/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Public/js/validator.js"></script>
    <script src="~/Public/js/jquery.shuffle.min.js"></script>
    <script src="~/Public/js/masonry.pkgd.min.js"></script>
    <script src="~/Public/js/owl.carousel.min.js"></script>
    <script src="~/Public/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Public/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Public/js/tilt.jquery.min.js"></script>
    <script src="~/Public/js/jquery.hoverdir.js"></script>
    <script src="~/Public/js/main.js"></script>

    <!-- Demo Color changer Script -->
    <script src="preview/lmpixels-demo-panel.js"></script>
    <!-- /Demo Color changer Script -->
</body>

<!-- Mirrored from lmpixels.com/demo/unique/unique-vcard/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jun 2019 12:37:13 GMT -->
</html>
